{% extends 'base.html' %}
{% block content %}


<head>
	<title>BMI Calculator</title>
	

</head>

<div class="row justify-content-center">
<div class="col-6">
<h2>Welcome!</h2>
<p>Use this calculator to calculate your Body Mass Index!</p>    
	
<div>
	<form class ="pure-form" method="POST" action="/">
		Enter Weight (kgs):<br>
		<input type="text" name="weight"><br>
		Enter height (cms):<br>
		<input type="text" name="height"><br>
		<button type="submit" class="pure-button pure-button-primary" value="Submit">submit</button>
		
	</form>
	
</div>
</div>
</div>

<br>

<div class ="container">
<div class="row justify-content-center">
<div class="col-4">
	{% if bmi %}
		<p>Your BMI is {{ bmi }}</p>
	{% endif %}
</div>
</div>




{% endblock %}

