<!doctype html>

<head>
	<title>BMI Calc</title>
	
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	
</head>

<h1>BMI Calc</h1>

<body>
	
<div>
	<form class ="pure-form" method="POST" action="/">
		Enter Weight:<br>
		<input type="text" name="weight"><br>
		Enter height:<br>
		<input type="text" name="height"><br>
		<button type="submit" class="pure-button pure-button-primary" value="Submit">submit</button>
		
	</form>
	
</div>

<br>

<div>
	
	
</div>
</body>